body {
    background-image:url(../Imagenes/workteam.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.card {

display: flex;
justify-content: center;
align-items: center;
width: 20%;
}



.foot{ 
    
    display: flex; /* hace flexible la clase foot*/
    justify-content: space-between; /* da el mayor espacio posible entre los items */
    color: black;
    height: auto;
  }

  .Redes {
    font-size: 30px;  /* tamaña de los iconos en el footer*/
    
}

.icono {
    color: white    ;
    }
    
    .titulofoot{
        
        color: white;
    }
    
.conct {
    color: white;
}

.texto {
    font-size: 20px;
}